@use './partials/variables' as *;


$fa-font-path: '../fonts/webfonts';   

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


@import 'bootstrap/scss/bootstrap';


.ls-line {
    border-top: 1px solid black;
    width: 90%;
    margin: 0 auto;
}

main{
    overflow: hidden;
}

.logo {
    width: 70px;
    height: 70px;
}

img {
    box-sizing: content-box;
    width: 100%;
}

